spring-research/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://www.itdotaer.com/schema/user"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.itdotaer.com/schema/user"
        elementFormDefault="qualified">
    <xsd:element name="user" type="userType"></xsd:element>

    <xsd:complexType name="userType">
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="userName" type="xsd:string" />
        <xsd:attribute name="email" type="xsd:string" />
    </xsd:complexType>
</xsd:schema>